/* #region GENERAL STYLE */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.comfortaa {
    font-family: 'Comfortaa', cursive;
}

.raleway {
    font-family: 'Raleway', sans-serif;
    font-weight: normal !important;
}

.link:nth-child(-n+4) {
    text-decoration: none;
    color: #d9d7d8;
}

.link:hover{
    color: #0aa7a3;
}

.jumbotron{
    width: 850px;
}

.titolo{
    display: flex;
    flex-direction: row;
    margin: 55px 0px;
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: bold;
    font-size: 36px;
}

.quadrato{
    width: 8px;
    height: 25px;
   /*  background-color: #e1e6ea; */
   /* background-color: #0278c2; */
   background: -webkit-linear-gradient(#0278c2, #0aa7a3);
    margin-right: 8px;
}

.titolo div{
    text-transform: uppercase;
    font-size: 25px;
}
/* #endregion */


/* #region SCROLL TO TOP */
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    width: 55px;
    height: 55px;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background: -webkit-linear-gradient(#0278c2, #0aa7a3);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50px;
    font-size: 18px;
  }
  
  #myBtn:hover {
    background: -webkit-linear-gradient(#0278c2, #0aa7a3);
    transform: scale(1.1);
  }
/* #endregion */


/* #region HEADER + NAVBAR */
.contenitore-header{
    background-color: #1d2025;
    display: flex;
    justify-content: center;
}

/* moved in style general
.jumbotron{
    width: 850px;
} */
 
.header{
    background-color: #1d2025;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
}
.logo .immagine{
    /* background-image: url(../img/logo.png); */
    /* background-image: url(../img/logo_bn.png); */
    background-image: url(../img/logo_cerchio_positivo.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 35px;
    width: 60px;
}

.title-img{
    font-size: large;
    background: -webkit-linear-gradient(#0278c2, #0aa7a3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.navbar{
    display: flex;
    align-items: center;
}

.navbar span{
    /* color: #a9aeb2; */
    color: #d9d7d8;
    text-transform: uppercase;
    margin-left: 20px;
    cursor: pointer;
    padding: 3px 7px;
    /* font-family: 'open sans'; */
    border-radius: 5px;
    /* font-size: small; */
    font-size: small;
    border: 1px solid #1d2025;
}

.navbar span.home{
    /* color: #22b7a3;
    border: 1px solid #22b7a3; */
    color: #0278c2;
    border: 1px solid #0278c2;
}

.navbar span:hover{
    /* border: 1px solid #a9aeb2; */
    border: 1px solid #0aa7a3;
    color: #0aa7a3;
}

.navbar span.home:hover{
    /* border: 1px solid #22b7a3; */
    border: 1px solid #0278c2;
    color: #0278c2;
}
/* #endregion */


/* #region BLOCCO 1 */
.contenitore-blocco-uno{
    /* background-image: url(../img/blocco-uno.jpg); */
    /* background-image: url(../img/food.jpg); */
    background-image: url(../img/wall-food.jpg);
    display: flex;
    justify-content: center;
    height: calc(100vh - 70px);
    background-repeat: no-repeat;
    background-size: cover;
}

.blocco-uno{
    display: flex;
    height: calc(100vh - 70px);
}

.scritte{
    flex: 6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    /* font-family: 'open sans'; */
}

.scritte .buttons{
    margin-top: 45px;
}

.scritte .buttons span{
    text-transform: uppercase;
    margin-right: 7px;
    padding: 15px;
    border-bottom: 1px solid #fefeff;
    font-size: small;
    border-radius: 0px;
    cursor: pointer;
    /* border-style: solid;
    border-image: linear-gradient(to right, #0278c2,#0aa7a3(0, 0, 0, 0)) 1 100%; */
}

.scritte .buttons span:hover{
    /* background-color: #0278c2;
    border: 1px solid #0278c2; */
    background: -webkit-linear-gradient(#0278c2, #0aa7a3);
    border-bottom: 0px solid none !important;
    font-weight: 600;
    border-radius: 5px;
}   

.pallini{
    flex: 4;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.pallini span{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #ffffff;
    margin: 10px 2px;
}

.pallini span:nth-child(2){
    background-color: #ffffff;
}
/* #endregion */


/* #region BLOCCO 2 */
.contenitore-blocco-due{
    display: flex;
    justify-content: center;
    height: calc(100vh - 120px);
    background-color: #ffffff;
    border-bottom: 1px solid #969698;
}

.blocco-due{
    display: flex;
}

.blocco-due .sx{
    flex: 6;
    display: flex;
    flex-direction: column;
}

.blocco-due .dx{
    flex: 4;
}

.social{
    display: flex;
    flex-direction: row;
    margin-top: 0px;
}

.social span{
    padding: 15px;
    background-color: #c8cdd0;
    color: #ffffff;
    font-size: 20px;
    margin-right: 1px;
    width: 20px;
    text-align: center;
    cursor: pointer;
}

.social span:hover{
    background-color: #d0d5d9;
}

.sx .scritta{
    font-size: 15px;
    /* font-family: 'open-sans'; */
    color: #969698;
 
}

.dx{
    display: flex;
    flex-direction: column;
}

.dx .elenco{
    display: flex;
    margin-bottom: 35px;
}

.dx .elenco .numero{
    padding: 15px;
    background-color: #0278c2;
    color: #ffffff;
    font-size: 18px;
    width: 20px;
    text-align: center;
    margin: 0px 25px;
    height: 20px;
}

.dx .elenco .descr{
    font-size: 16px;
    /* font-family: 'open-sans'; */
    color: #969698;
}

.dx .elenco .descr h5{
    margin: 0;
    font-size: 15px;
    margin-bottom: 10px;
}
/* #endregion */


/* #region BLOCCO 3 */
.contenitore-blocco-tre{
    display: flex;
    justify-content: center;
    height: calc(100vh - 25px);
    background-color: #3b454e;
}

.blocco-tre{
    display: flex;
    justify-content: space-between;

}

.blocco-tre .card{
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 270px;
}

.blocco-tre .card .immagine {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: linear 0.2s;
}

.blocco-tre .card .immagine span{
    color: #ffffff;
    padding: 10px;
    height: 15px;
    width: 15px;
    background-color: #3b454e;
    margin-right: 1px;
    cursor: pointer;
    text-align: center;
    display: none;
}

.blocco-tre .card .immagine:hover span {
    display: inline;
}

.blocco-tre .card .immagine:hover{
    transform: scale(1.1);
}

.blocco-tre .card .immagine:hover~.descr{
    background-color: #3b454e;
    color: #eef1f2;
    transform: scale(1.1);
}  

.blocco-tre .card .immagine:hover~.descr span{
    color: #eef1f2;
}  

.blocco-tre .card .immagine span:hover{
    background-color: #4e5b63;
}

.contenitore-blocco-tre .card .immagine.persona1{
    background-image: url(../img/Bruno.JPEG);
    background-repeat: no-repeat;
    background-size: cover;
    flex: 6;
    width: 220px;
}

.contenitore-blocco-tre .card .immagine.persona2{
    background-image: url(../img/Calian.JPEG);
    background-repeat: no-repeat;
    background-size: cover;
    flex: 6;
    width: 220px;
}

.contenitore-blocco-tre .card .immagine.persona3{
    background-image: url(../img/Baltieri.JPEG);
    background-repeat: no-repeat;
    background-size: cover;
    flex: 6;
    width: 220px;
}

 .contenitore-blocco-tre .card .immagine.persona4{
    background-image: url(../img/Grisotto.JPEG);
    background-repeat: no-repeat;
    background-size: cover;
    flex: 6;
    width: 220px;
}

.contenitore-blocco-tre .card .immagine.persona5{
    background-image: url(../img/Gaia.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    flex: 6;
    width: 220px;
}

.contenitore-blocco-tre .card .immagine.persona6{
    background-image: url(../img/Pizzeghella.JPEG);
    background-repeat: no-repeat;
    background-size: cover;
    flex: 6;
    width: 220px;
} 

.blocco-tre .card .descr{
    flex: 2;
    background-color: #e1e6ea;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #8f9297;
    font-size: 15px;
    transition: linear 0.2s;
}

.blocco-tre .card .descr span{
    color: black;
    font-size: 16px;
    padding-top: 5px;
}
/* #endregion */


/* #region BLOCCO 4 */
.contenitore-blocco-quattro{
    display: flex;
    justify-content: center;
    height: calc(100vh + 95px);
    background-color: #3b454e;
}

.blocco-quattro{
    display: flex;
    flex-direction: column;
}

.blocco-quattro .contenitore-img{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.blocco-quattro .card-work{
    height: 200px;
    width: 270px;
    margin-bottom: 20px;
}

.blocco-quattro .card-work .nascondi{
    height: 200px;
    width: 270px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.356);
}

.blocco-quattro .card-work.sfondo1{
    background-image: url(../img/img1.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}

.blocco-quattro .card-work.sfondo2{
    background-image: url(../img/img2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.blocco-quattro .card-work.sfondo3{
    background-image: url(../img/img3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.blocco-quattro .card-work.sfondo4{
    background-image: url(../img/img3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.blocco-quattro .card-work.sfondo5{
    background-image: url(../img/img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.blocco-quattro .card-work.sfondo6{
    background-image: url(../img/img2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.blocco-quattro .card-work .nascondi span{
    flex:7;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.blocco-quattro .card-work .nascondi .descr-work{
    flex: 0;
    display: flex;
    align-items: center;
    padding: 5px;
    padding-left: 15px;
    background-color: #282f37;
    font-size: small;
    color: #ffffff;
    font-family: 'open sans';
    height: 0;
    transition: linear 0.2s;
}

.blocco-quattro .card-work .nascondi{
    visibility: hidden;

}

.blocco-quattro .card-work:hover .nascondi{
    visibility: visible;
}
.blocco-quattro .card-work:hover .nascondi .descr-work{
    flex:2;
}

.blocco-quattro .buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    cursor: pointer;
}

.blocco-quattro .buttons span{
    border: 1px #ffffff solid;
    border-radius: 5px;
    color: #ffffff;
    font-family: 'open sans';
    text-transform: uppercase;
    padding: 10px;
    font-size: 10px;
}
/* #endregion */


/* #region BLOCCO 5 */
.contenitore-blocco-cinque{
    display: flex;
    justify-content: center;
    height: calc(100vh + 20px);
}

.blocco-cinque{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.blocco-cinque .card-do{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 220px;
    width: 190px;
    margin-bottom: 20px;
}

.blocco-cinque .card-do .glyph{
    color: #0278c2;
    font-size: 30px;
    padding: 15px;
}

.blocco-cinque .card-do .title{
    color: #3b3c40;
    padding: 15px;
    font-size: 14px;
}

.blocco-cinque .card-do .descr{
    color: #a7a7a7;
    text-align: center;
}
/* #endregion */


/* #region BLOCCO 6 */
.contenitore-blocco-sei{
    display: flex;
    justify-content: center;
    height: calc(100vh - 100px);
    background-color: #3b454e;
}

.blocco-sei{
    display: flex;
    justify-content: space-between;
}

.blocco-sei .card-features{
    height: 500px;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.blocco-sei .card-features .img1{
    background-image: url(../img/save-food.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    flex: 1;
    margin-bottom: 37px;
    margin-left: -2px;
    
}

.blocco-sei .card-features .img2{
    background-image: url(../img/save-money.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    flex: 1;
    margin-bottom: 37px;
    margin-right: -2px;

}

.blocco-sei .card-features .img3{
    background-image: url(../img/save-time.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    flex: 1;
    margin-bottom: 37px;
    margin-right: -2px;
    
}

.blocco-sei .card-features .descr{
    flex:1;
    color: #ccccce;
    /* font-family: 'open sans'; */
    font-size: 17px;
    text-align: center;
    font-weight: 600;
}
/* #endregion */


/* #region BLOCCO 7 */
.contenitore-blocco-sette{
    display: flex;
    justify-content: center;
    height: calc(135px);
}
/* #endregion */


/* #region BLOCCO 8 */
.contenitore-blocco-otto{
    display: flex;
    justify-content: center;
    height: calc(350px);
}

.blocco-otto{
    display: flex;
}

.blocco-otto .contatti{
    display: flex;
}

.contatti .info{
    width: 450px;
    height: 325px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #ffffff;
    z-index: -100;
}

.info .scritta{
    display: flex;
    flex-direction: column;
    /* font-family: 'open sans'; */
    font-size: 14px;
    margin-bottom: 130px;
}

.info .scritta .title{
    color: #2a2f35;
    margin-bottom: 20px;
}

.info .scritta .descr{
    color: #645757;
}


.contatti .form{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 400px;
    height: 325px;
    justify-content: space-around;
}

.form .name-mail{
    display: flex;
    margin-left: 10px;
}

.form .message{
    display: flex;
    flex-direction: column;
}

label{
    text-transform: uppercase;
    font-size: 12px;
    color: #ababab;
}

input[type="text"] {
    border: none;
    background-color: #eaeef1;
    border-radius: 5px;
    margin-top: 10px;
    outline: none;
    resize: vertical;
}

textarea{
    border: none;
    background-color: #eaeef1;
    border-radius: 5px;
    margin-top: 10px;
    outline: none;
    width: 370px;
    min-width: 370px;
    max-width: 370px;
    max-height: 250px;
}

input.name{
    height: 30px;
    width: 180px;
}

input.message{
    height: 100px;
    width: 380px;
}

input[type="submit"]
{
    width: 180px;
    height: 40px;
   /*  background-color: #24b7a4; */
  /*  background-color: #0278c2; */
   background: -webkit-linear-gradient(#0278c2, #0aa7a3);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 15px;  
    line-height: 0px;
    margin-left: 10px;
    text-transform: uppercase;
    text-align: center;
}

div.message{
    margin-left: 10px;
}
/* #endregion */


/* #region FOOTER */
.footer{
    display: flex;
    justify-content: center;
    height: calc(80px);
    background-color: #3b454e;
}

.footer .container-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.copy{
    color: #ffffff;
    font-size: 12px;
}

.social-footer span{
    color: #ffffff;
    font-size: 30px;
    padding: 15px;
}

.social-footer span:hover:nth-child(1){
    color: #0278c2;
    font-weight: 600;
}

.social-footer span:hover:nth-child(2){
    color: #dd2d84;
    font-weight: 600;
}
/* #endregion */